ipython==7.1.1
filemagic==1.6
freezegun==0.3.11
github3.py==1.2.0
# jira
requests==2.9.2
requests-oauthlib==1.0.0
requests-kerberos==0.12.0
simplejson==3.16.0
py-trello==0.13.0
pytest==4.0.0
pytest-mock==1.10.0

### projectKeyOrID is not available as an argument for jira.boards yet as it has not been tagged in the release
### so using master from github instead
-e git://github.com/pycontribs/jira.git@master#egg=jira
