{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block content %}

{{ macros.displayBreadcrumbs(breadcrumbs) }}

<h1 class="govuk-heading-xl">{{ team['name'] }}</h1>

<details class="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      About {{ team['name'] }}
    </span>
    </summary>
    <div class="govuk-details__text">
        {{ team['details'] }}
    </div>
</details>

{% if metrics|length > 0 %}
<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">
            {% if team['has_subteams'] == 'true' %}
                Aggregated
            {% endif %}
            Metrics
        </th>
        {% for metric in metrics %}
        <th class="govuk-table__header" scope="col">Q3 2018-19: {{ metric.started_on[:10] }} - {{ metric.ended_on[:10] }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Cycle Time (source: {{ metrics[0].source }})</th>
        {% for metric in metrics %}
        <td class="govuk-table__cell">{{ metric.cycle_time }}</td>
        {% endfor %}
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Process Cycle Efficiency (source: {{ metrics[0].source }})</th>
        {% for metric in metrics %}
        <td class="govuk-table__cell">
            {% if metric.process_cycle_efficiency is string %}
                {{ metric.process_cycle_efficiency }}
            {% else %}
                {{ '%0.2f' % (metric.process_cycle_efficiency * 100)  }}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of Stories Completed (source: {{ metrics[0].source }})</th>
        {% for metric in metrics %}
        <td class="govuk-table__cell">{{ metric.num_completed }}</td>
        {% endfor %}
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of Stories Incomplete (source: {{ metrics[0].source }})</th>
        {% for metric in metrics %}
        <td class="govuk-table__cell">{{ metric.num_incomplete }}</td>
        {% endfor %}
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of People Days</th>
        {% for i in range(metrics|length) %}
        <td class="govuk-table__cell">-</td>
        {% endfor %}
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Mean Time To Recovery (MTTR)</th>
        {% for i in range(metrics|length) %}
        <td class="govuk-table__cell">-</td>
        {% endfor %}
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of Releases</th>
        {% for i in range(metrics|length) %}
        <td class="govuk-table__cell">-</td>
        {% endfor %}
    </tr>
    </tbody>
</table>
{% endif %}

<a href="#" role="button" draggable="false" class="govuk-button govuk-button--start">Explore</a>

{{ macros.listSubteams(team, subteams) }}

{% endblock %}
