{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block head %}
{{ super() }}
<style>
        .tooltip {
          position: relative;
          display: inline-block;
          border-bottom: 1px dotted black;
        }
        
        .tooltip .tooltiptext {
          visibility: hidden;
          width: 450px;
          background-color: #555;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          bottom: 125%;
          left: 50%;
          margin-left: -60px;
          opacity: 0;
          transition: opacity 0.3s;
        }
        
        .tooltip .tooltiptext::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #555 transparent transparent transparent;
        }
        
        .tooltip:hover .tooltiptext {
          visibility: visible;
          opacity: 1;
        }
        </style>
{% endblock %}

{% block content %}

{{ macros.displayBreadcrumbs(breadcrumbs) }}

<h1 class="govuk-heading-xl">{{ team['name'] }}</h1>

<details class="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      About {{ team['name'] }}
    </span>
    </summary>
    <div class="govuk-details__text">
        {{ team['details'] }}
    </div>
</details>

{% if metrics|length > 0 %}
<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">
            {% if team['has_subteams'] == 'true' %}
                Aggregated
            {% endif %}
            Metrics for Q3 2018-19
            <br>(source: {{ metrics[0].source }})
        </th>
        {% for metric in metrics %}
        <th class="govuk-table__header" scope="col">{{ metric.started_on|format_date }} to<br>&nbsp;{{ metric.ended_on|format_date }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">
            <span class="tooltip">Cycle time
                <span class="tooltiptext">
                    Cycle time is calculated as: <BR>
                        Time spent working on story to done
                </span>
            </span>        
        </th>
        {% for metric in metrics %}
        <td class="govuk-table__cell">{{ metric.avg_cycle_time }}</td>
        {% endfor %}
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">
            <span class="tooltip">Process Cycle Efficiency
                <span class="tooltiptext">
                    Process cycle efficiency is calculated as: <BR>
                        ( (Cycle time - blocked time)<br> &divide; Total cycle time ) &times; 100
                </span>
            </span>
            <br>
        </th>
        {% for metric in metrics %}
        <td class="govuk-table__cell">
            {% if metric.process_cycle_efficiency is string %}
                {{ metric.process_cycle_efficiency }}
            {% else %}
                {{ '%0.2f' % (metric.process_cycle_efficiency * 100)  }}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of Stories Completed</th>
        {% for metric in metrics %}
        <td class="govuk-table__cell">{{ metric.num_completed }}</td>
        {% endfor %}
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of Stories Incomplete</th>
        {% for metric in metrics %}
        <td class="govuk-table__cell">{{ metric.num_incomplete }}</td>
        {% endfor %}
    </tr>
    {% if git_metrics %}
    <tr class="govuk-table__row" style='vertical-align: top'>
        <th class="govuk-table__header" scope="row">
            <span class="tooltip">Code rework
                <span class="tooltiptext">
                    Code rework is calculated as: <br>
                        (Total rework after PR created <br> &divide; Total rework on PR branch) &times; 100<br><br>
                        Rework = number of lines added<br> + number of lines deleted
                </span>
            </span>
            <span style='font-weight: normal'>(average)</span><br>(source: github)
            <div style='font-weight: normal; text-align: right'>rework% (#PRs)<br>#comments</div>
        </th>
        {% for metric in metrics %}
        <td class="govuk-table__cell">
            <div>{{ '%0.2f' % (metric.code_rework) }}%</div>
        </td>
        {% endfor %}
    </tr>
        {% for metric in git_metrics %}
    <tr class="govuk-table__row">
        <th class="govuk-table__header" style="text-align: right; font-weight:normal;" scope="row">
            {{ metric.name }}
        </th>
            {% for sprint_metric in metric.sprints %}
        <td class="govuk-table__cell">
                {% if sprint_metric['code_rework'] == "-" %}
            _
                {% else %}
            <a target='_github' href="{{ sprint_metric.url }}">
                    {{ '%0.2f' % (sprint_metric['code_rework']) }}% ({{ sprint_metric['num_prs'] }})
            </a><br>
                {{ sprint_metric['total_comments'] }}
                {% endif %}
        </td>
            {% endfor %}
    </tr>
        {% endfor %}
    <tr>
        <td colspan="{{metrics|length + 1}}">
            <canvas id="myChart"></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
            <script lang="javascript">
                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'bar',
                
                    // The data for our dataset
                    data: {
                        labels: [{% for metric in metrics %}"{{ metric.started_on[:10] }} - {{ metric.ended_on[:10] }}",{% endfor %}],
                        datasets: [
                            {
                                label: "Average code rework",
                                backgroundColor: 'rgb(200, 200, 200)',
                                borderColor: 'rgb(100, 100, 100)',
                                data: [{% for metric in metrics %}{{ '%0.2f' % (metric.code_rework) }}, {% endfor %}],
                            },
                            {% set counter = 0 %}
                            {% for metric in git_metrics %}
                            {
                                label: "{{ metric.name }}",
                                backgroundColor: 'rgb({{ 50 + loop.index * 20 }}, {{ 50 + loop.index * 30 }}, {{ 50 + loop.index * 30 }})',
                                borderColor: 'rgb(100, {{ 100 + loop.index * 10 }}, {{ 150 + loop.index * 10 }})',
                                data: [{% for sprint_metric in metric.sprints %}{% if sprint_metric.code_rework == '-' %}0{% else %}{{ '%0.2f' % (sprint_metric.code_rework) }}{% endif %}, {% endfor %}],
                            },
                            {% set counter = counter + git_metrics|length %}
                            {% endfor %}
                        ]
                    },
                
                    // Configuration options go here
                    options: {}
                });
            </script>
        </td>
    </tr>
    {% endif %}
    </tbody>
</table>
{% endif %}

{{ macros.listSubteams(team, subteams) }}

{% endblock %}
