{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block content %}

{{ macros.displayBreadcrumbs(breadcrumbs) }}

<h1 class="govuk-heading-xl">{{ team['name'] }}</h1>

<details class="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      About {{ team['name'] }}
    </span>
    </summary>
    <div class="govuk-details__text">
        {{ team['details'] }}
    </div>
</details>

{% if metrics|length > 0 %}
<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">
            {% if team['has_subteams'] == 'true' %}
                Aggregated
            {% endif %}
            Metrics
        </th>
        {% for metric in metrics %}
        <th class="govuk-table__header" scope="col">Q3 2018-19: {{ metric.started_on[:10] }} - {{ metric.ended_on[:10] }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Cycle Time<br>(source: {{ metrics[0].source }})</th>
        {% for metric in metrics %}
        <td class="govuk-table__cell">{{ metric.avg_cycle_time }}</td>
        {% endfor %}
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Process Cycle Efficiency<br>(source: {{ metrics[0].source }})</th>
        {% for metric in metrics %}
        <td class="govuk-table__cell">
            {% if metric.process_cycle_efficiency is string %}
                {{ metric.process_cycle_efficiency }}
            {% else %}
                {{ '%0.2f' % (metric.process_cycle_efficiency * 100)  }}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of Stories Completed<br>(source: {{ metrics[0].source }})</th>
        {% for metric in metrics %}
        <td class="govuk-table__cell">{{ metric.num_completed }}</td>
        {% endfor %}
    </tr>
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="row">Number Of Stories Incomplete<br>(source: {{ metrics[0].source }})</th>
        {% for metric in metrics %}
        <td class="govuk-table__cell">{{ metric.num_incomplete }}</td>
        {% endfor %}
    </tr>
    {% if metrics[0].repos %}
    <tr class="govuk-table__row" style='vertical-align: top'>
        <th class="govuk-table__header" scope="row">Code rework<br>(source: github)<div style='font-weight: normal; text-align: right'>rework% (#PRs)<br>#comments</div></th>
        {% for metric in metrics %}
        <td class="govuk-table__cell">
            <div>Average: {{ '%0.2f' % (metric.code_rework) }}%</div>
        </td>
        {% endfor %}
    </tr>
    {% for metric in git_metrics %}
    <tr class="govuk-table__row">
        <th class="govuk-table__header" style="text-align: right; font-weight:normal;" scope="row">
            {{ metric.name }}
        </th>
        {% for sprint_metric in metric.sprints %}
        <td class="govuk-table__cell">
            {% if sprint_metric['code_rework'] == "-" %}
            _
            {% else %}
            <a target='_github' href="{{ sprint_metric.url }}">
                {{ '%0.2f' % (sprint_metric['code_rework']) }}% ({{ sprint_metric['num_prs'] }})
            </a><br>
            {{ sprint_metric['total_comments'] }}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
{% endif %}

<a href="#" role="button" draggable="false" class="govuk-button govuk-button--start">Explore</a>

{{ macros.listSubteams(team, subteams) }}

{% endblock %}
